body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #98a7f0 0%, #f05c79 100%);
}


header {
    background-color: #444;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}


nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

nav .menüleft {
    margin-left: 1rem;
    font-size: 25px;
    text-align: center;
    display: inline-block;
}

nav .menüright {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #333;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
    .main-content {
        grid-template-columns: 1fr;
    }
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside ul li {
    color: black;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
    text-align: left;
}

aside ul li a {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
}

aside ul li:hover {
    background-color: #f0f0f0;
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.kepzes {
    background-color: #fafafa;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.kepzes h2 {
    color: #444;
    margin-bottom: 1rem;
}

.kepzes button {
    padding: 0.75rem 1.5rem;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.kepzes button:hover {
    background-color: #0277bd;
}
